[2018-10-27 02:03] jrgm commented on #2695
Yes, we probably should do that, and I should add back the foreign key for fxa_oauth.refreshTokens so it's a complete rollback.

[2018-10-27 02:05] jrgm commented on #2695
And yeah, I was pondering if a FORCE INDEX might be a fix while this was happening, but adding back the FK was the better call. Thanks @jbuck.

[2018-10-28 23:50] rfk commented on #2679
This was done in https://github.com/mozilla/fxa-local-dev/pull/132

AFAICT fxa-dev is working correctly without any changes, because the docker image is still being published to the same place.

[2018-10-29 01:04] rfk opened #2696 "Port train-123 oauth-server changes to master"
Per https://github.com/mozilla/fxa-auth-server/issues/2679 we intend to cut train-124 of oauth-server from this repo instead of its old repo.  Unfortuntely we had to do a couple of train-123 point-releases in the old repo, and we'll need to remember to port those over before tagging train-124.

[2018-10-29 01:34] rfk commented on #2695
Ugh; according to [1] index hints are only supported on `SELECT` statements, not `DELETE` statements, so we can't use `FORCE INDEX` here :-(

[1] https://dev.mysql.com/doc/refman/8.0/en/index-hints.html

[2018-10-29 14:09] philbooth commented on #2454
We're going to have migrated away from the auth db in the email service before getting to this, let's kill it.

[2018-10-29 14:09] #2454 closed

[2018-10-29 17:21] philbooth commented on #2685
@vbudhram can you triage this out of the backlog if it's the wrong place?

[2018-10-29 19:42] rfk commented on #2668
@rfk to merge with other bug about this

[2018-10-30 03:10] rfk commented on #2490
The db migrations we did as part of this work had to be reverted, I'm re-opening the issue so we don't lose track of it.  To bring this to completion we'll need to:

* Resolve our issues running the gh-ost migration tool on the `accounts` table ([Bug 1502164](https://bugzilla.mozilla.org/show_bug.cgi?id=1502164))
* Complete purging of expired tokens from the oauth `tokens` table
* Attempt another

[2018-10-30 04:14] rfk commented on #2668
I accidentally created a dupe of this over in https://github.com/mozilla/fxa-auth-server/issues/2679, but this one has emoji so I'm going to close out https://github.com/mozilla/fxa-auth-server/issues/2679 and migrate its checklist over to here.

[2018-10-30 04:16] rfk commented on #2668
Actually no, this issue is different and broader than https://github.com/mozilla/fxa-auth-server/issues/2679; this issue is talking about actually merging the two servers together, while https://github.com/mozilla/fxa-auth-server/issues/2679 is a pre-req about making them a monorepo.  Let's push forward on the work in https://github.com/mozilla/fxa-auth-server/issues/2679 first and we can pick up

[2018-10-30 23:14] davismtl opened #2703 "2FA Enabled but not asked by AMO"
During Sync fest today, we tested 2FA with reliers a bit and ran into a puzzling experience with AMO and Pocket.

Prerequisites:
Firefox 65 and a Firefox Account

Steps we followed:
- Setup 2FA in FxA settings
- Logged in to AMO

Result:
- No 2FA prompt

Expected:
- Asks for 2FA

Validation:
- Logged into Pocket immediately after AMO

Result:
- Pocket asked for 2FA (as expected)

I'm pretty certai

[2018-10-30 23:17] rfk commented on #2703
To me, this is the unexpected part.  You just enabled 2FA in the settings page, so you're in a 2FA-verified session, why does pocket need you to enter the 2FA code again?

[2018-10-30 23:51] davismtl opened #2705 "Primary Email Change Problems with IAM"
During SyncFest today, we created a Discourse account using FxA from the IAM integration.

Prerequisite:
- Have a discourse account with FxA
- Sign in and then out with it to show that it works

Steps to reproduce
- change your primary email in FxA settings
- go to discourse sign in
- observe that old primary email is still displayed (unlike with AMO that shows the new one pre-filled)
- try to sig

[2018-11-01 11:44] shane-tomlinson opened #2708 "Document acr_values option for GET /v1/authorize in the OAuth server"
The lack of documentation for `acr_values` was noticed by @diox in https://github.com/mozilla/addons/issues/732#issuecomment-434664293. Let's add some documentation about its usage.

[2018-11-01 20:07] philbooth commented on #2583
This got fixed by #2664.

[2018-11-01 20:07] #2583 closed

[2018-11-02 06:29] philbooth opened #2712 "Can we make the npm audit flow less annoying?"
Imagine you have a simple PR that you need to get out for a point release. You open said PR but your build fails because of a new security advisory for an unrelated dependency that already exists in `master`. So now you have a completely unrelated problem that you are forced to resolve before you're allowed to deploy your fix that makes a broken thing in production not broken any more. The tail is

[2018-11-02 06:47] philbooth opened #2713 "Npm security advisory 720"
https://www.npmjs.com/advisories/720

[2018-11-02 06:48] philbooth commented on #2713
The dependency chain for our inclusion of `cryptiles` looks like this:

[code]

So I need to go and update `fxa-geodb` first, then I can come back to this repo.

[2018-11-02 06:52] philbooth commented on #2713
Wait, no, that was the content server. Here it looks like it comes in via `fxa-auth-db-mysql`:

[code]

[2018-11-02 06:57] philbooth commented on #2712
So, to make my point from the opposite direction, I think we should detect security advisories on the master branch as soon as possible, instead of waiting for somebody to open a pull request and catching them as a side-effect. Some of our repos are very low in PR traffic so waiting for a PR is not a reliable way to catch security advisories.

[2018-11-02 06:59] philbooth commented on #2712
And I'll also note, if we had a monorepo, fixing these advisories would be easier. Instead of having to go and update `fxa-geodb`, then `npm publish`, then come back to my PR and update shrinkwrap, which is what I have to do for 720, I could just do it all in one go instead.

[2018-11-02 12:08] philbooth opened #2714 "Arabic emails not working"
When I sign up in Russian, I receive the verification email in Russian. When I sign up in Arabic, I receive it in English. What gives?

[2018-11-02 12:19] philbooth commented on #2714
Coincidentally, we recently had another Arabic-specific translation issue that was caused by its array index being falsey/zero: https://github.com/mozilla/fxa-shared/pull/35

[2018-11-02 14:02] philbooth commented on #2713
This got fixed.

[2018-11-02 14:02] #2713 closed

[2018-11-05 17:14] shane-tomlinson commented on #2712
Sentry runs an audit daily, do we need to have these errors surfaced more quickly?

[2018-11-05 17:17] philbooth commented on #2714
@philbooth to investigate if this is happening in prod too or just locally.

[2018-11-05 17:28] shane-tomlinson commented on #2490
Migrations are on hold for a while says @jrgm.

[2018-11-05 17:29] shane-tomlinson commented on #2490
@rfk - can you triage this out of backlog as you see fit?

[2018-11-05 21:57] jrgm opened #2720 "[oauth] fxa-oauth-server v1.124.3 didn't pick up semver from its package.json"
curl -s 'https://oauth.accounts.firefox.com/__version__'
[code]

[code]

https://github.com/mozilla/fxa-auth-server/commit/dcc537a9bafae9f5eba9a8bba975e3365858f282

So `dcc537a` is the release commit for `v1.124.3`, but while `__version__` shows that sha, the semver is `1.124.0`.

The `version.json` inside the container does read
[code]

[2018-11-06 13:15] #2720 closed

[2018-11-06 13:51] #2708 closed

[2018-11-07 18:13] misterhsp opened #2723 "npm install not install grunt-cli on oaut-hserver"
After an npm install in the oauth-server grunt-cli is not installed, but is needed. What is wrong or do I do something wrong?

thank you...

[2018-11-07 18:16] vladikoff commented on #2723
@misterhsp CLI is either global: https://gruntjs.com/getting-started#installing-the-cli or you can access it via `node_modules/.bin/grunt`

[2018-11-07 18:16] #2723 closed

[2018-11-07 18:20] misterhsp commented on #2723
I have add a line in my dockerfile npm install grunt-cli.

[2018-11-07 21:06] philbooth opened #2724 "I think I broke the flow events"
Look at this chart of auth server flow event counts:

https://sql.telemetry.mozilla.org/queries/59968/source#154973

From 27th October, the numbers for all event types emitted by the auth server drops significantly.

Recently I made a number of changes to the metrics context data, deprecating it on some routes and depending on memcached to propagate it for us instead. Memcached has an expiry limit

[2018-11-07 21:07] philbooth commented on #2724
You can also see it starkly in the chart for DAU:

https://sql.telemetry.mozilla.org/queries/4776#9696

And in the file sizes of our flow data in S3:

[code]

[2018-11-07 21:21] irrationalagent commented on #2724
Part of the weirdness here is that there is also another major drop in both content and auth server event volume that happens about a week later between nov 3rd to 4th (very close to train 124 but appears to precede it by about a day), unclear at this point if its due to a separate issue:

https://sql.telemetry.mozilla.org/queries/59966/source#154969

Furthermore, there does not seem to be a real

[2018-11-08 01:01] eoger opened #2725 "QUERY_ACCESS_TOKEN_INSERT called with extra parameter"
See in the call bellow: https://github.com/mozilla/fxa-auth-server/blob/f055f23bd9e7876dddddb67067b34a180f2d19b8/fxa-oauth-server/lib/db/mysql/index.js#L442-L449
We should remove the last `t.profileChangedAt,` parameter (column was dropped in a recent patch)

[2018-11-08 04:32] jrgm opened #2726 "fxa-oauth-server.db.ERROR: client.missing.keys {"key":"imageUri","name":"Android Components Reference Browser"}"
I was starting locally with `./bin/purge-expired-tokens.js` and got this error, which is related to https://github.com/mozilla/fxa-auth-server/commit/d11afc0685c72e1cb5b89e49403109c14e5c19a1. Can just add the imageUri to workaround, or relax this restriction.

[code]

[2018-11-08 04:38] rfk commented on #2726
I'll make a quick PR that does this.

[2018-11-08 04:41] rfk commented on #2693
@eoger are you blocked on this for your desktop patch?

[2018-11-08 05:00] #2726 closed

[2018-11-08 10:16] philbooth commented on #2724
This is a genuine mystery. I just want to record some things I've looked at/thought about before I go off for a walk in search of inspiration.

* In local dev, all flow events are being emitted as expected when signing in to a web session.
* In local dev, all flow events are being emitted as expected when signing in to Sync.
* In local dev, all flow events are being emitted as expected when resett

[2018-11-08 14:02] philbooth commented on #2724
Fwiw this works fine locally too, all flow events are emitted as expected.

[2018-11-08 15:36] eoger opened #2730 "Get rid of bluebird"
IIUC `fxa-auth-server` runs on node 8 which provides full [Promises](https://node.green/#ES2015-built-ins-Promise) and [async functions](https://node.green/#ES2017-features-async-functions) support.
I believe we should get rid of bluebird where we can, and even get rid of it if possible.

[2018-11-08 15:40] vladikoff commented on #2730
We talked about it before and decided against it

in https://github.com/mozilla/fxa-auth-server/issues/1509

and in https://github.com/mozilla/fxa-oauth-server/issues/570#issuecomment-399960804

[2018-11-08 15:52] eoger commented on #2730
From the comments I see in https://github.com/mozilla/fxa-auth-server/issues/1509, most of the issues cited are resolved by the new ES features:
- `finally`: Promises have a `finally()` method. You can also use`try-finally` with async functions.
- `each` should be converted to an async function with a `for-await` loop.
- `spread` as @shane-tomlinson mention is is covered by array destructuring.

W

[2018-11-08 15:58] vladikoff commented on #2730
@eoger I'm all for dropping bluebird. main stop energy was https://alexn.org/blog/2017/10/11/javascript-promise-leaks-memory.html

[2018-11-08 17:19] shane-tomlinson commented on #2679
@rfk the remaining checkbox items have all been completed, haven't they? If so, can you close this?

[2018-11-08 17:43] philbooth commented on #2724
I asked @jbuck and @jrgm about this, there were no evictions around the 27th October. There was increased traffic from the Firefox release, but nothing that looks like it could explain this issue.

[2018-11-08 18:22] eoger commented on #2693
I'm fine with keeping `JSON.parse` logic in the desktop pairing patch at the moment.

[2018-11-08 18:50] rfk commented on #2679
I ticked off a couple more, the only one left is:

Which I'll aim to get done before Monday so we can close this out.

[2018-11-08 20:01] rfk commented on #2725
I think we hoped to be able to bring that column back after resolving recent db migration issues, but you're right we should clean it up in the meantime.

[2018-11-08 20:02] rfk commented on #2725
@jrgm to clarify, did we keep the `profileChangedAt` column on the `codes` and `refreshTokens` tables in production?

[2018-11-08 21:08] rfk commented on #2685
Just saw this going by in the #lockbox channel on slack:

[code]

So I think we should try to move this forward if possible, and I can volunteer some of my time to work on it.  @shane-tomlinson what do you think about the proposed approach?

One possible concern I have is about people unexpectedly uploading real data into the sync account for a test user, but I guess we have that problem already.

[2018-11-08 21:11] devinreams commented on #2685
For our specific use case, we promise we are not going to be uploading real data to our Apple / Google / internal test account: `firefoxlockbox@gmail.com`

It’s intended for QA and confirmation is not necessary as nothing is actually “at risk” in that account.

[2018-11-08 22:03] rfk commented on #2685
The reverse is also true in some circumstances.  If we had a test account for sync with known credentials, and someone synced a malicious addon up to that account, it might propagate down and install that addon for users doing testing.  Not likely to be a problem for lockbox, but something else for us to keep in mind with the whole "test accounts" notion more broadly.

[2018-11-08 22:03] rfk commented on #2685
I'm nominating this for "next" so we can discuss in upcoming planning meeting.

[2018-11-09 08:40] philbooth commented on #2724
Just realised I should have asked our ops team another question last night, which was whether the flow event volumes in our raw logs took a hit, either on 27th October or 4th November.

Because if they didn't it means they must be going missing in the Heka part of the import pipeline (I'm presuming it still uses Heka because we never heard to the contrary, but I haven't actually asked anyone). And

[2018-11-09 08:53] #2725 closed

[2018-11-09 09:21] rfk opened #2733 "Dev config for reference-browser client_id should not hardcode FxA url"
I just realized that in https://github.com/mozilla/fxa-auth-server/pull/2706, we added the reference-browser client_id to the dev config with a redirectUri of `"https://accounts.firefox.com/oauth/success/3c49430b43dfba77"`.  It really should be referring to the hostname of whatever dev instance is running, not the production server!

I'm not sure what the best way is to represent that in config. W

[2018-11-09 18:44] jbuck commented on #2724
On Nov 3rd the Heka aggregator stopped accepting logs. whd restarted it and we've start processing the backlog

[2018-11-09 20:40] irrationalagent commented on #2724
Content erver event volume has dropped to 0 since the 7th.

[2018-11-09 21:33] vbudhram commented on #2712
This recently happened here https://travis-ci.org/mozilla/fxa-content-server/builds/453068855?utm_source=github_status&utm_medium=notification.

[2018-11-09 21:34] vladikoff commented on #2712
yeah, that's the plan of action

[2018-11-09 23:58] jscher2000 opened #2735 "Apostrophe in username triggers "Valid email required" message"
This came up on SuMo: https://support.mozilla.org/questions/1239965

The following appears when clicking "Create account":

![fx63-accounts-firefox-valid-email-required](https://user-images.githubusercontent.com/8264646/48294100-35198800-e437-11e8-8875-4b19ec7e25f5.png)

I only see beacons in the Network Monitor so I'm not sure how the validation is being done.

When I look at the isValidEmailAddr

[2018-11-10 09:30] philbooth commented on #2735
It's coming [from app/scripts/lib/validate.js](https://github.com/mozilla/fxa-content-server/blob/8d0d26ecfa63a0506024b1feeca20757639ecf08/app/scripts/lib/validate.js#L31-L44):

[code]

The apostrophe there is not an apostrophe, it's a `RIGHT SINGLE QUOTATION MARK (U+2019)`. Probably somebody's IDE "helpfully" auto-corrected it on entry, so now the client-side and the server-side have different va

[2018-11-12 05:49] philbooth commented on #2714
Just tried this out in prod and it happens for me there too.

I think this is something we should really get to the bottom of, but I'm on PTO this week. So, taking my face off and returning to the triage column. Can you guys prioritise it during today's meeting?

[2018-11-12 06:12] philbooth commented on #2724
Event volumes appear to pick back up from Saturday 10th November, optimistically closing this.

[2018-11-12 06:12] #2724 closed

[2018-11-12 06:16] philbooth commented on #2631
Pulled across to `active` to be done as part of the train 125 deployment cycle. Note this is an ops task, so there's no need to freak out about the fact I'm on PTO and my face is on this.

[2018-11-12 13:45] shane-tomlinson commented on #2735
Long long ago I started that work and of course, other things came along and I never finished.

[2018-11-12 15:32] arshadkazmi42 commented on #2646
@philbooth I can take this up.
Basically, these entries needs to be removed
`https://github.com/mozilla/fxa-auth-server/blob/master/config/index.js#L262`
? Or we need to remove only the `Deprecated` text?

[2018-11-12 16:34] jscher2000 commented on #2735
Thank you all for your detective work. Is this issue in the right repository to get validate.js updated or does it need to be reposted on https://github.com/mozilla/fxa-content-server/issues ?

[2018-11-12 22:57] rfk commented on #2679
Turns out you can check out a repo's wiki as a git repo, which made this migration a lot easier than I'd feared.  This issue is now complete.

[2018-11-12 22:57] #2679 closed

[2018-11-13 06:29] arshadkazmi42 commented on #2197
I can take this up if it's still available.

[2018-11-13 09:33] rfk opened #2737 "Persistent travis failure in e2e/push"
I retried this job three times but it failed on all three:

  https://travis-ci.org/mozilla/fxa-auth-server/jobs/454370197

The relevant part of the log is:

[code]

I wonder if this is some early indication of a change/problem in our integration with the push infrastructure.

[2018-11-13 09:37] rfk commented on #2737
I can repro locally with `npm run test-e2e`

[2018-11-13 09:50] rfk commented on #2737
I occasionally get:

[code]

If I bump the test runner timeout to 2000 to 10000 then I can get it to *sporadically* pass, maybe one in every four or five attempts.  The other attempts fail with a socket hangup.

So I wonder if this reflects an issue with the push service websocket infrastructure..?

[2018-11-13 09:53] rfk commented on #2737
Even just doing this from a JS console:

[code]

Seems to alternate between erroring, or connecting after a couple of seconds timeout.

[2018-11-13 10:04] rfk commented on #2737
Confirmed in IRC that push is indeed experiencing some operational issue; leaving the bug open for now to confirm when it's resolved.

[2018-11-13 19:32] rfk commented on #2737
Push is back up and running, and the job restarted successfully.

[2018-11-13 19:32] #2737 closed

[2018-11-14 00:49] #2685 closed

[2018-11-14 09:08] rfk opened #2738 "Merge v1.124.4-private to master before cutting train-125"
Looks like we have a private tag that needs deploying and uplifting to master before we cut the next train:

  https://github.com/mozilla/fxa-auth-server-private/releases/tag/v1.124.4-private

/cc @vbudhram @vladikoff as a heads-up before train cut.

[2018-11-14 17:01] vladikoff commented on #2738
done!

[2018-11-14 17:01] #2738 closed

[2018-11-14 18:00] devinreams commented on #2685
Thank you all for your help landing this quickly!

[2018-11-14 18:33] vladikoff commented on #2714
Confirmed this, getting English emails for [ar] locale in Firefox.

[2018-11-14 23:11] jrgm commented on #2631
Running at 50% in prod now. Previous panics not seen in Sentry. Emails on bounce list are showing up in sentry.

Overall send/deliver statistics look the same by either sending path.

[2018-11-14 23:17] vladikoff commented on #2631
🏅

[2018-11-15 05:06] jrgm commented on #2631
Disabled in production. @see https://github.com/mozilla/fxa-email-service/issues/239#issuecomment-438913101

[2018-11-16 17:20] irrationalagent commented on #2552
Realizing that this is probably important to do. Maybe I can do it.

[2018-11-16 17:36] irrationalagent opened #2743 "Explore creating a per-service metrics event for users currently signed in"
@rfk tells us that users signed into e.g. pocket via fxa don't communicate with our servers on a daily basis, so this may not be practical to do. But in theory it would be useful for us to have some kind of measurement of how often people are using fxa-relying services. Filing this issue so that maybe some time in the future it becomes do-able.

In the meantime, we should work on https://github.co

[2018-11-16 17:36] philbooth commented on #2552
@irrationalagent, looking at the code, I think all of the pieces are in place on our side of the equation.

* We accept a `service` query param on `/certificate/sign` [here](https://github.com/mozilla/fxa-auth-server/blob/master/lib/routes/sign.js#L26-L28).

* We propagate that to Amplitude [here](https://github.com/mozilla/fxa-auth-server/blob/master/lib/metrics/amplitude.js#L197-L199).

* We map

[2018-11-19 00:08] rfk commented on #2552
Lockbox/Notes/whoever should not be calling `/certificate/sign` on a regular basis, because they are OAuth clients.  Instead we expect them to be hitting the oauth `/token` endpoint with their refresh_token.

Is the goal here to be able to measure DAU or similar on signed-in app instances?

[2018-11-19 05:27] rfk opened #2744 "Stop sending HPKP headers"
As discussed on the mailing list, our use of HPKP headers is not delivering sufficient value.  Let's stop sending them and disable the code that does so.

IIRC we're using the "hapi-hpkp" plugin for this, both in auth-server [1] and oauth-server [2].

[1] https://github.com/mozilla/fxa-auth-server/blob/master/lib/server.js#L284
[2] https://github.com/mozilla/fxa-auth-server/blob/master/fxa-oauth-s

[2018-11-19 08:06] philbooth commented on #2552
🤦‍♂️😊

Ok, I think we can infer it's Sync in the auth server for those without needing client changes, because the content server does set the `service` param on that endpoint:

https://github.com/mozilla/fxa-content-server/blob/261b9e690a922d5ac938f04304de75921e4a7a87/app/scripts/lib/fxa-client.js#L691-L698

We wouldn't want to make the change in the main `getService` function in `lib/metrics/amp

[2018-11-19 16:16] #2695 closed

[2018-11-19 16:18] vladikoff commented on #2631
from mtg:

bounce cases get reported into sentry as errors

[2018-11-19 16:19] vladikoff commented on #2631
from mtg: switching to 100% of users this week

[2018-11-19 16:20] vladikoff opened #2746 "Bounces get reported into sentry as errors"
Ref: https://github.com/mozilla/fxa-auth-server/issues/2631#issuecomment-439950825

https://sentry.prod.mozaws.net/operations/email-service/issues/4900762/?query=is:unresolved

[2018-11-19 16:33] vladikoff commented on #2547
from mtg: renamed to `instances`

[2018-11-19 16:34] vladikoff commented on #2547
from mtg: @eoger  and @rfk should this remain in 126 or be moved to 127?

[2018-11-19 16:39] vladikoff commented on #2690
from mtg: @philbooth still 126?

[2018-11-19 16:44] vladikoff commented on #2743
from mtg: backlog for now, @irrationalagent working on researching this further...

[2018-11-19 16:52] irrationalagent commented on #2552
@philbooth yea I think I follow that. One question I have is that (I believe) Lockbox is a relier that also uses sync 1.5 (to sync credentials). Is that another case where we would be signing certificates without client changes, and thus be getting empty service params? No worries if you don't know the answer off the top of your head, I can ask the lockbox team.

[2018-11-19 16:54] vladikoff commented on #2733
@rfk backlog or next?

[2018-11-19 19:08] #2744 closed

[2018-11-19 19:31] rfk commented on #2547
I'd like to make as much progress as we can on this in 126.

[2018-11-19 20:46] vladikoff commented on #2631
It's live for 100%!

@brizental @philbooth party time! 🎉

Leftover issue filed in https://github.com/mozilla/fxa-email-event-proxy/issues/12 for socketlabs

[2018-11-19 20:46] #2631 closed

[2018-11-19 22:12] vladikoff commented on #2714
it seems the issue is the

[code]

[2018-11-19 22:13] vladikoff commented on #2714
Ref: https://github.com/mozilla/fxa-content-server-l10n/blob/master/locale/ar/LC_MESSAGES/server.po#L14

[2018-11-19 23:15] vladikoff commented on #2495
Seems like no history of this error anymore in Sentry and no reoccurring

[2018-11-19 23:15] #2495 closed

[2018-11-19 23:45] vladikoff commented on #2427
Seems like error is not reoccurring anymore

[2018-11-19 23:45] #2427 closed

[2018-11-20 15:13] shane-tomlinson commented on #2197
@arshadkazmi42 - We'd be happy for you to take a stab at this! Let us know if you need any guidance.

[2018-11-20 16:31] arshadkazmi42 commented on #2197
Cool. I will start working on it. 👍

[2018-11-20 17:57] arshadkazmi42 commented on #2197
@shane-tomlinson which link the button will point to?
Is this the url
https://github.com/mozilla/fxa-auth-server/blob/master/lib/senders/email.js#L152
?

[2018-11-21 12:22] shane-tomlinson commented on #2547
I’m really struggling to come to grips with the need for this API when we already have both the devices and sessions APIs. Is this an attempt at consolidating both? Neither [the feature doc](https://docs.google.com/document/d/1pbyOOySw76R-OTPJiX4gW3Izlp-plA7T7Jlt-wOAKwQ/edit) nor the related PRs present a problem statement or analysis that explains why the current APIs are insufficient and can't b

[2018-11-21 14:57] vladikoff opened #2748 "Attempt to combine oauth package.json with auth"
Currently we have to maintain 2 package jsons in this repo, that's just too many!

[2018-11-21 19:39] rfk commented on #2547
The `refresh_token` is supposed to be a secret;  there needs to be some way of identifying the corresponding client without knowing what its `refresh_token` is and being able to impersonate that client.

[2018-11-21 21:15] eoger commented on #2547
This is a 6-hands answer to the very good feedback @shane-tomlinson has given:

Several reasons:
- the current devices API has some deficiencies (create versus update) that makes the registration process [more difficult than it should be](https://searchfox.org/mozilla-central/rev/8f89901f2d69d9783f946a7458a6d7ee70635a94/mobile/android/services/src/main/java/org/mozilla/gecko/fxa/devices/FxAccountD

[2018-11-21 21:19] rfk commented on #2547
I also think this is the key to finding our way forward here, looking for incremental pieces of this that we can agree on and land independently.

[2018-11-22 13:39] shane-tomlinson commented on #2733
There's a [whole IETF spec for native apps](https://tools.ietf.org/html/rfc8252) that includes a [section on custom redirect_uri schemes](https://tools.ietf.org/html/rfc8252#section-7.1) which specify domains in reverse order. For example:

Per the spec an app would normally register a URL handler for the reverse URL. Upon successful authentication, the IdP redirects to special redirect_uri, the O

[2018-11-26 17:31] vladikoff commented on #2693
@rfk for 127?

[2018-11-28 12:24] philbooth opened #2759 "Docs script is failing in master"
[code]

[2018-11-28 13:17] shane-tomlinson opened #2761 "Remove service clients"
[Service clients](https://github.com/mozilla/fxa-auth-server/blob/b1916c379818e9f7f9ed63991be84dc94a8b97ad/fxa-oauth-server/docs/service-clients.md#L4) aren't being used, Basket was to be our first but that never happened. The code is [still hanging around](https://github.com/mozilla/fxa-auth-server/blob/b1916c379818e9f7f9ed63991be84dc94a8b97ad/fxa-oauth-server/lib/routes/token.js#L225).

Let's re

[2018-11-29 21:46] rfk commented on #2674
This bug risks blocking production deployment of the Spanner syncstorage backend, as it's a dependency for https://github.com/mozilla-services/tokenserver/issues/124.  Unfortunately the first step is this:

Which we currently can't do due to migration tooling issues: https://bugzilla.mozilla.org/show_bug.cgi?id=1502164

I can think of two ways to unblock this:

1. Try to use a different schema mig

[2018-11-29 22:54] rfk commented on #2674
To say a bit more about why: the plan is for the Spanner syncstorage backend to use the tuple `(uid, kid)` as a composite primary key for all data that it stores on behalf of a user.  This enforces a nice logical separation of data encrypted with different keys, but it assumes a stable value of `kid` that changes iff the underlying key material changes.

[2018-12-10 17:19] vladikoff commented on #2668
Remaining work is in https://github.com/mozilla/fxa-auth-server/issues/2748

[2018-12-10 17:19] #2668 closed

[2018-12-10 21:03] vladikoff commented on #2759
@philbooth the error i was getting is the same, on onde v8.11

[2018-12-11 15:53] shane-tomlinson commented on #2547
This.... I realize this isn't the big "JUMP" that was proposed, but makes me much more comfortable. If it doesn't work out, then jump!

[2018-12-11 18:17] rfk commented on #2547
IIUC, the stages in https://github.com/mozilla/fxa-auth-server/issues/2547#issuecomment-443104884 are more-or-less what we settled on during discussion in Mozlando, I'll prioritize (2) this week.

[2018-12-11 21:47] #2197 closed

[2018-12-11 22:06] #2714 closed

[2018-12-12 07:18] shane-tomlinson opened #2771 "Occasional internal server error coercing email header values to strings"
See https://sentry.prod.mozaws.net/operations/auth-prod/issues/5024128/?environment=prod

It appears a value being converted is sometimes `null` which causes an exception to be thrown when calling `null.toString()`.

[2018-12-13 20:07] #2771 closed

[2018-12-13 20:18] #2748 closed

[2018-12-14 14:15] philbooth opened #2779 "Send metrics metadata to the email service"
The email service's `/send` endpoint supports a `metadata` property in the request payload, which can be used to persist message-specific metadata for the duration until we receive a bounce, complaint or delivery notification. The data is just a string, with the intention that for our usage it can contain a JSON-stringified metrics context bundle.

Currently the auth server is not sending any data

[2018-12-14 14:20] philbooth commented on #2779
Related: mozilla/fxa-email-service#97

[2018-12-17 19:58] #2693 closed

[2018-12-18 20:42] vladikoff opened #2783 "Combine gen_keys.js from oauth into the auth gen_keys.js"
Combine gen_keys.js from oauth into the auth gen_keys.js

[2018-12-18 21:14] #2761 closed

[2018-12-20 21:32] vbudhram opened #2784 "Refactor authentication states"
In the past couple of weeks we have seen a couple instances where our `unverified` and `verified` session states have cause some confusion with our users, ref https://github.com/mozilla/fxa-content-server/issues/6767.

With the introduction of TOTP, we started to manually performed checks on our [routes](https://github.com/mozilla/fxa-auth-server/blob/ba011c7e537c5a91062ac8fe3240a6b9c6c70254/lib/r

[2018-12-20 21:35] rfk commented on #2784
Thanks @vbudhram!  One quick suggestion:

I would recommend making the default `sessionToken` strategy mean "session token verified to the max level on the account" and have a special `unverifiedSessionToken` strategy for the rare cases where we deliberately want that.

[2018-12-20 21:45] vbudhram commented on #2784
@rfk Thanks for suggestion, updated!

[2018-12-28 10:37] philbooth opened #2850 "Should we stop emitting route perf events for /recovery_email/status?"
The status endpoint gets hit quite heavily and it's questionable how useful the perf data we are getting from it is. We could drastically reduce our daily flow event count if we stopped emitting the perf event on that route.

[2019-01-02 21:09] #2687 closed

[2019-01-04 11:57] shane-tomlinson commented on #2850
Since this endpoint is hit so often, could overall perf results be skewed? Even if no, removing perf results from here seems reasonable to cut down on overall flow event count.

[2019-01-04 12:11] philbooth commented on #2850
There's no "overall" perf result in that sense, unless someone's written a query to aggregate them that I don't know about. They're just plotted on a chart per-endpoint.

[2019-01-09 13:50] shane-tomlinson commented on #2784
Over the holidays I couldn't help but think that authentication levels might not be the best model. Authentication level feels weird to me for several reasons:

* levels require a map of access level to capabilities available at that level.
* levels imply the capabilities available to "one level up" is a superset of the capabilities available to "one level down", which might not always be the case

[2019-01-09 19:42] rfk commented on #2784
The "authenticator assurance level" is a very specific thing designed to represent how confident we are that the user is who they claim to be, which I think is better than a boolean "verified yes/no" flag.  Ultimately the capabilities we're willing to grant to a token will have to depend (at least in part) on that level of confidence. But I can see benefits to tracking them explicitly rather than

[2019-01-10 05:47] shane-tomlinson commented on #2784
Your version is much more clear than what I tried to say in:

[2019-01-10 16:22] shane-tomlinson commented on #2674
@rfk - is this still required for Spanner? I see work progressing fast and furiously over there and don't want to be the blocker.

[2019-01-10 16:24] shane-tomlinson opened #2858 "Emit additional metadata with events for consumption by the fraud detection pipeline"
This is a placeholder to be filled in as we find out more from @ameihm0912 and @moz-jvehent about the additional metadata needed for the new fraud detection pipeline.

[2019-01-10 19:59] rfk commented on #2674
It's not blocking spanner *yet*, but I'd like to get it done before putting production users onto a spanner storage node.

[2019-01-10 22:07] ryanfeeley opened #2859 "Update verification email for non-Sync FxA reliers"
Current:
<img width="752" alt="image" src="https://user-images.githubusercontent.com/68213/51000132-22d0ce80-14fa-11e9-8300-9dd7f7d29bbf.png">

Proposed:
<img width="744" alt="image" src="https://user-images.githubusercontent.com/68213/51000154-33814480-14fa-11e9-86da-983f176f2d46.png">

[2019-01-10 22:31] rfk commented on #2674
(We can ship a production spanner node without it, but I think we'll regret the lack of this information in the future if we try to make further architectural changes to sync)

[2019-01-11 13:38] shane-tomlinson opened #2860 "FR - Arrow blue CTA button in signup verification email is on a different line to text"
In languages other than English where the text is longer, the arrow is on a different line. That's ugly. Does the arrow actually provide value? If not, I vote we kill it.

<img width="397" alt="screenshot 2019-01-11 at 12 54 54" src="https://user-images.githubusercontent.com/848085/51036735-efe41480-15a5-11e9-8876-23be0b49ccb1.png">

ref #2859 because it'll update the same email template.

cc @rya

[2019-01-11 16:32] ryanfeeley commented on #2859
@shane-tomlinson This is a lockbox team request.

[2019-01-14 17:14] vladikoff commented on #2859
thought we had this, need to debug...

[2019-01-14 21:48] vladikoff commented on #1855
wontfix

[2019-01-14 21:48] #1855 closed

[2019-01-15 15:02] shane-tomlinson opened #2862 "oauth-server's GET /authorization endpoint duplicates logic found on the content server"
Over in https://github.com/mozilla/fxa-content-server/pull/6214 we started telling clients to go directly to the content server's GET /authorization endpoint and skip the need to hit the OAuth server. We never went back and cleaned up the OAuth server's /authorization endpoint to remove duplicate logic. In [redirect.js](https://github.com/mozilla/fxa-auth-server/blob/9641c75f655cc0fb224dfffb148856

[2019-01-16 13:35] shane-tomlinson commented on #2859
@ryanfeeley - The sync banner should only be displayed if `?service=sync` is specified as a query parameter on signup. If they aren't specifying `service=sync`, they won't get it.

We do not yet have the "Welcome to %(serviceName)s", what's the chance that would cause confusion? "Welcome to Lockbox! Confirm your Firefox Account..."

[2019-01-16 20:06] ryanfeeley commented on #2859
@shane-tomlinson  I don't think it's be confusing.

I just created a Firefox Account for screenshots and got this…

<img width="650" alt="image" src="https://user-images.githubusercontent.com/68213/51275534-3e2b5600-19a0-11e9-95fe-161309ca7b02.png">

[2019-01-16 23:01] devinreams opened #2867 ""Failed to send email" when signing in with Firefox Account on Lockbox Android"
Duplicate of https://github.com/mozilla-lockbox/lockbox-android/issues/378

It seems folks are unable to sign in with their Firefox Account on the Android app (but ok on web or iOS app).

![image from ios](https://user-images.githubusercontent.com/49511/51268260-e9c2af00-197c-11e9-8d2e-fa148b36e4f5.jpg)

This appears to be a new bug (within the past 24 hours) and unclear if a bug introduced in our

[2019-01-16 23:02] rfk commented on #2867
@devinreams so we rolled back to a previous server release, is the bug still happening?

[2019-01-17 02:46] rfk commented on #2867
Thanks for filing @devinreams! The proper fix should be in https://github.com/mozilla/fxa-auth-server/pull/2868 which we'll take a look at rolling out tomorrow.

[2019-01-17 06:47] shane-tomlinson commented on #2859
The email as is is obviously confusing, there are a couple of issues at play.

First, I'm really confused why that Sync photo is being displayed. It should only be displayed for [Sync signup](https://github.com/mozilla/fxa-auth-server/blob/1356749ad007788d50748580115aa833755b6fa7/lib/senders/templates/verify.html#L18). Users of other services should see the [Firefox logo](https://github.com/mozill

[2019-01-17 15:34] vladikoff commented on #2859
this email bug might be due https://github.com/mozilla/fxa-auth-server/pull/2868#event-2079278570

this is because we fallback to sync if something goes wrong fetching the service name

[2019-01-17 15:58] ryanfeeley commented on #2859
This is better. I like that we continue to use continue to language.

[2019-01-17 20:39] ryanfeeley commented on #2860
@shane-tomlinson Here's a bunch https://github.com/mozilla/fxa-auth-server/search?q=%26rarr%3B&unscoped_q=%26rarr%3B

[2019-01-18 11:11] #2862 closed

[2019-01-18 16:41] ryanfeeley commented on #2859
@shane-tomlinson Updated
<img width="728" alt="image" src="https://user-images.githubusercontent.com/68213/51400296-0ba36980-1b16-11e9-9c32-79efa4fbe53b.png">

[2019-01-21 20:56] vladikoff commented on #2632
@philbooth @jrgm do we still use the `nodemailer` module to send nodemail or is it all email-service now?

[2019-01-22 14:34] philbooth opened #2875 "Wire in feature-flagging"
Depends on mozilla/fxa-shared#41. Also requires Amplitude `experiment` events to be emitted.

[Feature doc](https://docs.google.com/document/d/1pRQuK7GWM3zEZLObZCByDxU_cImduICHrL6SaPSoUkU).

[2019-01-22 21:12] vladikoff opened #2877 "Fix error report AUTH-PROD-27"
Per Slack report. See https://sentry.prod.mozaws.net/operations/auth-prod/issues/5144403/?referrer=slack for details

[2019-01-23 11:41] philbooth commented on #2759
Looks like this got fixed at some point.

[2019-01-23 11:41] #2759 closed

[2019-01-23 12:54] philbooth commented on #2850
Just to quantify the effects of this before I open a PR:

[code]

[code]

So that's a lot of events we'll get rid of.

(and there's a long tail of about 15k different variations of that last recovery key endpoint, which I'll also clean up for the sake of tidiness)

[2019-01-24 02:02] rfk opened #2880 "Send notification email when granting tokens with the "oldsync" scope"
**Edited 2019-03-12**: Based on discussion below, I'm splitting this up into separate issues. Let's use this bug for sending a notification email and a different bug for [sending the push notification](https://github.com/mozilla/fxa-auth-server/issues/2955), since I think they can be approached independently.

---
**New scope for this bug:**

When a new client connects to sync, we need to send an

[2019-01-24 02:56] rfk commented on #2547
@shane-tomlinson so IIUC this is the "root bug" for the oauth/send-tab work. I'm going to take the liberty of assigning it to you for further comment and triage on the path forward here, based on conversations over the past couple of days.

[2019-01-24 10:48] #2850 closed

[2019-01-24 10:59] philbooth opened #2882 "Local email tests have failing assertions that don't fail the test run"
[code]

[2019-01-24 11:13] philbooth commented on #2882
This is the failing assertion:

[code]

This is the value of `accountSettingsUrl`:

[code]

And this is the actual href in the rendered email body:

[code]

So as you can see, it is the `email` and `uid` query params that cause it to fail.

I see two fixes here:

1. Fix the failing assertion.
2. Ensure that all of the local email tests return their promise so that the test runner knows about faile

[2019-01-24 11:31] philbooth commented on #2882
Fwiw, `git bisect` says it went wrong 7d4649bc97ea71e660bec3ca49f21cb5a40f4ac0, which comes from #2747.

[2019-01-24 13:13] philbooth opened #2884 "What can we do to give Sentry more useful information for 500 errors?"
Consider the following Sentry error:

https://sentry.prod.mozaws.net/operations/auth-prod/issues/5148811/?environment=prod

I can't identify a single useful piece of information about what went wrong, anywhere on that page. Nothing in the stack trace helps us, none of the error data, the tags. It's completely opaque.

Is there more information we could try to include at runtime that would help us

[2019-01-24 20:49] jbuck opened #2885 "request.summary & account.signin.confirm.success different types for Fields.code"
`Fields.code` is a number
[code]

`Fields.code` is a string
[code]

[2019-01-24 20:51] jbuck commented on #2885
Note: this is stage logs, not production logs. Same issue as https://github.com/mozilla/fxa-customs-server/issues/314 /cc @philbooth

[2019-01-25 10:46] hritvi commented on #2860
@shane-tomlinson I have made the changes on my local. Making a PR for the same :slightly_smiling_face:

[2019-01-25 11:43] #2860 closed

[2019-01-25 14:17] shane-tomlinson opened #2888 "Strange error message: "A TOTP token not found""
ref https://github.com/mozilla/fxa-content-server/issues/6904

https://github.com/mozilla/fxa-auth-server/blob/acd40c3916cdeeff1484c4eadfd51fc1164c41dc/lib/error.js#L797

Seems like "A " should be removed from this string.

[2019-01-25 14:57] vbudhram commented on #2888
I struggle with words sometimes lol, but yea we should remove the `A`.

[2019-01-25 15:37] #2888 closed

[2019-01-28 02:07] vladikoff commented on #2880
Hm if we have key-data there already, I guess we can do this!

[2019-01-28 15:13] #2885 closed

[2019-01-28 21:13] g-k commented on #2784
Does RBAC with roles like "password and email confirmation loop authenticated user", "TOTP authenticated user", etc. where the TOTP-authed user role probably has almost all of the permissions of a password-authed user, plus drop role, and add/delete/modify TOTP devices permission make sense?

[2019-01-28 21:18] vladikoff commented on #2733
we put 127.0.0.1:3030 in dev config, and have this under control for now!

[2019-01-28 21:18] #2733 closed

[2019-01-29 10:09] shane-tomlinson commented on #2880
I lean towards this option too, esp after our discussion yesterday of some APIs, e.g., devices, growing OAuth legs.

There is a 3rd option, have the OAuth server create its own [senders](https://github.com/mozilla/fxa-auth-server/blob/356895870205a35c0419af93fee2af8ea51ea67e/lib/senders/index.js#L7) or [email sender](https://github.com/mozilla/fxa-auth-server/blob/356895870205a35c0419af93fee2af8ea

[2019-01-29 12:32] philbooth commented on #2884
I notice we're also using an old version of the SDK. Maybe we can update to latest and greatest at the same time as fixing this?

[2019-01-29 21:31] rfk commented on #2880
Unfortunately this won't help with the push notification that we send to other connected devices.

Also a quite note from IRL discussion with vlad: we need to avoid sending *two* emails when signing in to the reference-browser via a normal enter-your-email-and-password flow (a naive implementation of this might risk sending one email when creating the sessionToken, and a second email when claiming

[2019-01-30 01:30] rfk commented on #2880
I did a bit of digging to try to summarize the current state of affairs.

Email
-------

The logic for sending our "a new device was connected to sync" email is here, with a bunch of conditional flags to ensure that we only send it if we did not send some *other* email (such as sign-in confirmation):

  https://github.com/mozilla/fxa-auth-server/blob/master/lib/routes/account.js#L673

I can confir

[2019-01-30 01:55] rfk commented on #2880
On reflection, I think we do this to ensure that the push notification is not a lie - it gets sent only when the device actually becomes capable of syncing, and it doesn't get sent if you sign in to a device but never confirm the signin.

[2019-01-30 03:03] rfk commented on #2880
I don't think this is written down anywhere for reference, but to go with the summary of what we actually do, here's my recollection of our intended behavior:

1. The user receives some sort of email whenever there's activity on their account that could allow access to their sync data.  (This is why we jump through hoops to send some sort of email whenever a login requests keys.  It's also why eve

[2019-01-30 03:14] rfk commented on #2880
Based on all that, what I think we want in an oauth-sync world is approximately:

* Whenever we issue a new OAuth token with scope "oldsync", create a placeholder device record for that token.  This will trigger the push notification in the same way it currently does for sync logins.
* Whenever we issue a new OAuth token with scope "oldsync" (or maybe with any key-bearing scope?) we send a "new lo

[2019-01-30 14:17] shane-tomlinson commented on #2547
I've been staring at the auth, oauth and auth-mysql, and several PRs across them for over a day and feel like I have a better grasp on this. I'm even more convinced that re-using the existing devices API will give us the best chance of success for the fast approaching Fenix release. Client instances is a great idea, but it's big. Bigger than I am comfortable committing our team to for Fenix.

I th

[2019-01-31 10:47] shane-tomlinson commented on #2880
Hey, we are no longer 🤡 's ... For this case.

Yes, it does, @vbudhram worked on a lot of that and might have something to add.

This seems reasonable and might help with https://github.com/mozilla/fxa-auth-server/issues/2547#issuecomment-458959636. A new OAuth device would not have to register itself, but it could update its device record if it so chooses.

If it's not reliable, it seems this cou

[2019-01-31 14:12] #2858 closed

[2019-02-01 00:49] rfk commented on #2880
That works if we're sending two different emails, but it might be weird if we send the same email twice (e.g. if the user is signing in to reference-browser from a newly-created account that's within the skipSigninConfirmationForNewAccounts window). Maybe acceptably weird?

[2019-02-01 05:54] rfk commented on #2547
Renaming the issue to reflect its reduced scope...

[2019-02-01 14:02] shane-tomlinson opened #2899 "Support notifying reliers of account deletions via HTTP requests"
Right now whenever a user deletes their account we notify reliers via SNS/SQS. This places a requirement on reliers to connect to one of these services, which isn't awesome for several reasons:

1. As a company we are largely migrating to GCP.
2. Each relier has to enable and pay for SQS.

We could simplify this by having OAuth reliers register an endpoint to call whenever the user deletes their a

[2019-02-03 23:51] rfk commented on #2899
+1 to treating this as as number `3.` in the list-of-reasons-sqs-is-not-awesome - IIRC we currently do a bit of weird filtering in our SNS publishing pipeline around the email-change event, to avoid sending PII to reliers that shouldn't need to know it.

[2019-02-03 23:54] rfk commented on #2880
Once for the new sessionToken when they sign in to the account, thanks to [1].  And once for the new OAuth token that we create when reference-brower completes its signin flow, thanks to whatever code we add for this issue.

[1] https://github.com/mozilla/fxa-auth-server/blob/master/lib/routes/account.js#L673

[2019-02-06 12:06] shane-tomlinson opened #2906 "Test using Node 10 on travis"
We use scrypt-hash here which does not work on node 10, luckily @philbooth has done the work to [provide a node 8 & 10 compatible interface](https://github.com/mozilla/fxa-auth-db-mysql/pull/473/files) that uses scrypt-hash on node 8 and crypto.scrypt for node 10.

We should drag that wrapper over here and start testing on node 10.

[2019-02-06 12:43] philbooth commented on #2906
Hmm? https://github.com/mozilla/fxa-auth-server/pull/2902

[2019-02-06 13:17] shane-tomlinson commented on #2906
[Where is my mind?](https://www.youtube.com/watch?v=N3oCS85HvpY)

[2019-02-06 13:17] #2906 closed

[2019-02-06 13:32] shane-tomlinson opened #2907 "Failing functional tests when verifying TOTP codes"
See https://tc-test.dev.lcip.org/viewLog.html?buildId=46883&tab=buildResultsDiv&buildTypeId=FxaLatest_FunctionalTests

See https://screencap.co.uk/images/7d41e5224f823a0080fbc4a4f21215b47e963e44.png

I was able to get this to occur once when running the tests locally, this is what shows up in the network console:

<img width="563" alt="screenshot 2019-02-06 at 11 09 58" src="https://user-images.gi

[2019-02-06 15:50] vbudhram commented on #2907
Hm that is possible. Currently latest env generates 3 codes for the [user]( https://github.com/mozilla/fxa-dev/blob/51629883b525ee7fc2ed5fa8cdd657e424ac30e4/aws/environments/latest.yml#L16). I choose 3 because there are tests for sending emails if user has a low amount of recovery codes and when they don't.

I can't seem to track down the issue but I vaguely remember something like this happening

[2019-02-06 15:55] vladikoff opened #2908 "FxA Sign up fails with "Stale Authentication Timestamp""
Ref: https://github.com/mozilla-mobile/reference-browser/issues/569

We can sign in but not sign up!

![](http://v14d.com/i/19f8b72e6477f53d2b75122b5bac2b649c0ee003e7536fbde654d4659837d9c2.jpg)

[2019-02-06 19:42] rfk commented on #2908
Does this repro 100% of the time?

[2019-02-06 19:49] rfk commented on #2908
IIUC this login flow hits the oauth key-data endpoint directly using a BrowserID assertion, so when it gets to here:

  https://github.com/mozilla/fxa-auth-server/blob/master/fxa-oauth-server/lib/routes/key_data.js#L76

It will not have an `iat` claim and will fall back to using `lastAuthAt`, the value of which comes from here:

  https://github.com/mozilla/fxa-auth-server/blob/master/lib/tokens/s

[2019-02-08 11:21] shane-tomlinson commented on #2859
This is going to be slightly more challenging than I thought. On the auth-server's mailer code we have the client ID, not the service name.  We'll need to be able to translate from client ID to service name, which if we don't have the info already, we could do by calling the `GET /client/<clientID>` endpoint on the OAuth server.

[2019-02-08 11:23] philbooth commented on #2859
Might be easier to read it from config instead?

https://github.com/mozilla/fxa-auth-server/blob/19593176575d964d0c47282498bbe55808426ee5/config/index.js#L585-L590

[2019-02-08 11:25] philbooth commented on #2859
(although the mappings in config aren't canonical/authoritative so it's a lot more error-prone than hitting the OAuth server)

[2019-02-08 12:06] shane-tomlinson commented on #2859
Luckily, someone [has already done the hard work](https://github.com/mozilla/fxa-auth-server/blob/master/lib/senders/email.js#L645) and I can just re-use that!

[2019-02-08 17:03] #2859 closed

[2019-02-11 20:35] #2908 closed

[2019-02-12 14:30] vladikoff commented on #2712
some progress on this made to support this made here: https://github.com/mozilla-services/audit-filter/issues/13

[2019-02-12 14:38] vladikoff commented on #1969
Let's revisit this if still needed.

[2019-02-12 14:38] #1969 closed

[2019-02-12 18:14] tokenflow commented on #2480
Same issue today while installing fsevents , d3
Downgrading to 8.11.3 solved this issue

[2019-02-14 10:02] shane-tomlinson opened #2915 "Include `service` as data when sending `verified` events to Basket"
Initial conversation in https://github.com/mozmeao/basket/issues/131

The Mozmeao team would like to create custom onboarding journeys for different services, but we don't provide sufficient information for them to do so.

When we send `verified` events, we do not send along which service the user was signing up for.

I propose we send the `service` info along with the `verified` event that's broa

[2019-02-14 14:37] shane-tomlinson opened #2916 "Incorrect parameters passed to DB in bin/profile_server_messaging.js"
This file: https://github.com/mozilla/fxa-auth-server/blob/master/bin/profile_server_messaging.js

It passes [incorrect parameters when opening the DB](https://github.com/mozilla/fxa-auth-server/blob/a0c0e77e317d9fdc3c49488df60ae29d1e996eb8/bin/profile_server_messaging.js#L20-L21) which makes me believe it's no longer used. I don't see any tests for it either.

If it's unused, let's remove it.

cc

[2019-02-14 15:14] pmac commented on #2915
That all sounds perfect to me.

That would also be good. All we'll need is information on what to expect in the queue message JSON schema and we'll figure out where to put the new info on our side.

[2019-02-14 18:15] irrationalagent opened #2917 "Start passing entrypoint, utm params with auth server metrics events again"
to re-iterate conclusions from an email thread with @philbooth, we currently only pass entrypoint and utm params with content server events.

this leads to a race-ish condition between auth server events and content server events within the same flow, such that if auth server events (which lack entrypoint) are logged in amplitude first, then they will "take on" the entrypoint value from previous f

[2019-02-15 19:15] davismtl commented on #2915
In support of this fix, this will also be needed since IoT Things is experimenting with FxA. They don't want Things users to get any Firefox onboarding emails. They'll likely want to personalize their onboarding experience.

[2019-02-17 18:03] moz-hwine opened #2919 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/fxa-auth-server/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defaceme

[2019-02-17 19:30] philbooth commented on #2919
@mozilla/fxa-devs there's 10 pages in the wiki for this repo, should we use this issue to migrate them elsewhere?

[2019-02-18 15:31] shane-tomlinson commented on #2919
@philbooth - it looks like a lot of them are out of date too! I've changed write access to only include users in teams with push access until we can migrate the content elsewhere.

[2019-02-18 15:53] shane-tomlinson opened #2921 "Send `login` events to Mozmeo for all services"
Initial conversation in [mozmeao/basket#131](https://github.com/mozmeao/basket/issues/131) and #2915.

The Mozmeao team would like to create custom onboarding journeys for different services, but we [only send `login` events for Sync](https://github.com/mozilla/fxa-auth-server/blob/a0c0e77e317d9fdc3c49488df60ae29d1e996eb8/lib/routes/utils/signin.js#L246).

We could make this easier if we sent a `l

[2019-02-18 15:54] shane-tomlinson commented on #2921
Note, we would only want to send these to Mozmeo rather than all services to avoid informing all reliers whenever users sign into a new service.

[2019-02-19 12:24] #2919 closed

[2019-02-19 13:15] shane-tomlinson opened #2922 "Discuss: Continue to consider fully verified sessions fully verified after enabling 2FA"
More users than I would have expected complain they have lost their 2FA device and are [unable to disable 2FA](https://github.com/mozilla/fxa-content-server/issues/6767) from a [device that has been connected to Sync for a long time](https://github.com/mozilla/fxa-bugzilla-mirror/issues/533).

On an account with 2FA enabled, we only consider a session fully verified if the session was verified wit

[2019-02-19 13:25] shane-tomlinson opened #2923 "Update docker images to node 10"
I believe our docker images are built with node 8, which is in LTS maintenance mode. Would be nice to go to node 10 and get current LTS support.

[2019-02-19 17:35] shane-tomlinson commented on #2916
As @jrgm and @philbooth point out, we should have some tests for this.

[2019-02-19 17:48] jrgm commented on #2916
Just to note what was said in triage meeting: It is used and is running in production and does appear to be working and not showing errors, but maybe just because it never calls the db object's methods in a way that would fail.

[2019-02-19 19:28] rfk commented on #2922
I think we mostly do this already, e.g. those existing sessions can still issue "tokenVerified: true" assertions to access sync data, can still re-auth without entering a TOTP code, etc.  The restriction on deleting TOTP tokens is special-cased in the code here:

  https://github.com/mozilla/fxa-auth-server/blob/master/lib/routes/totp.js#L133

So the suggestion broadly makes sense to me.  It's wor

[2019-02-20 14:52] #2923 closed

[2019-02-20 17:13] philbooth opened #2927 "Remove scrypt-hash dependency"
`scrypt-hash` is still an optional dependency, but we're now running the tests and building the Docker image using node 10's built-in scrypt implementation. As soon as everyone has updated to running node 10 locally too, we should remember to remove the dependency on `scrypt-hash`.

[2019-02-21 03:03] rfk opened #2928 "The "devices and apps" list should show each refreshToken independently"
As described in https://github.com/mozilla-mobile/reference-browser/issues/562#issuecomment-464105213, the "devices and apps" view currently collapses all OAuth client instances for a particular `client_id` into a single list entry.  So for example, if you sign in to Lockbox on two different devices, you will only get one "Lockbox" entry in your "devices and apps" list.

We do this aggregation by

[2019-02-22 22:02] davismtl commented on #2360
Landing on this bug made a few things clearer to me. We should certainly put this somewhere.

Other things less technical things we should document are:
- Best practice for editing templates (and making sure they get localized)
- How-to A/B test an email (if it's possible)

These come to mind because the email team has an interest in helping us optimize some of these.

[2019-02-27 01:26] vladikoff opened #2933 "Add an /oauth/authorization route, authenticated with a sessionToken"
As part of our quest simplify our OAuth infastructure and remove BrowserID, let's move the [OAuth /authorization endpoint](https://github.com/mozilla/fxa-auth-server/blob/master/fxa-oauth-server/docs/api.md#post-v1authorization) over to the auth-server and authenticate it directly with a sessionToken, rather than having to indirect through a separate services with a BrowserID assertion.

This supp

[2019-02-27 01:36] vladikoff commented on #2880
Ref: https://github.com/mozilla/fxa-auth-server/pull/2931

[2019-02-27 03:58] rfk commented on #2674
Ref https://github.com/mozilla/fxa-auth-db-mysql/pull/482 which is adding the `keysChangedAt` column, but won't be able to actually make any use of it until we add code here in the auth-server to know when to update it.

[2019-02-27 12:07] LeoMcA opened #2935 "Login blocked because 2FA isn't enabled, but 2FA shows as enabled in account settings"
Note: I can't reproduce this since @gdestuynder turned off 2FA verification during FxA authentication, but I imagine the bug still exists

Steps:
1. Open voice.mozilla.org
2. Click "Log In / Sign Up"
3. Select "Log in with Firefox"
4. Click "Sign In" on Firefox Accounts page (I'm already logged in to Firefox Accounts)
5. Red banner saying 2FA needs to be enabled is displayed
6. Open https://accoun

[2019-02-27 12:12] gdestuynder commented on #2935
note what I turned off is the 2FA enforcement request (`/authorization?acr...`) on the Mozilla IAM relier to FxA

[2019-02-27 12:20] hmitsch commented on #2935
@LeoMcA thanks for reporting. I sometimes here volunteers reporting this issue and have not gotten a proper handle of it yet.

-Henrik

[2019-02-27 19:35] rfk commented on #2935
Thanks for the report! To clarify the technical details, does this mean basically:

* IAM was directing the user to FxA with `/authorization?acr_values=AAL2`
* FxA prompts the user to sign in, and then rejects it because they don't have 2FA
* But they actually *do* have 2FA enabled, so FxA is behaving weirdly

I expect the key here is this part:

Meaning that the user is using an existing login se

[2019-02-28 23:12] eoger opened #2936 "Ensure all device push fields appear together"
Before Firefox had support for Push payloads, it was possible for a client to register its device record with a `pushCallback` but no `pushAuthKey`/`pushPublicKey`.
We enforce this rule on our servers by allowing `pushCallback` to appear alone, but making sure the 2 other fields come together:
https://github.com/mozilla/fxa-auth-server/blob/30e65674e70ee42befc1ba09b6fc0fd7dde2f608/lib/routes/devic

[2019-02-28 23:34] vladikoff commented on #2547
from a meeting with @rfk and @vladikoff

Here's some PRs we need to PR:

- [ ] feat(devices): devices API with refreshTokens - https://github.com/mozilla/fxa-auth-server/pull/2937
 - We will end up with refreshTokenId entries in devices table where sessionTokenId is NULL, which is fine. But now SendTabs works!
- [ ] Fix the Fenix Devices & Apps List
  - [ ] Current Device in the list
  - [ ] Signi

[2019-03-01 01:00] rfk commented on #2490
This is actionable again now that the db-migration was successful in prod \o/

[2019-03-01 01:02] rfk commented on #2490
I don't know if https://github.com/mozilla/fxa-auth-server/issues/2490#issuecomment-434156182 is still accurate, next step on this bug is to audit the state of the `profileChangedAt` column in both auth and oauth dbs.  IIRC we didn't back out any of the application code that was using it, so it may be that this just starts working again once the db changes are in place on both sides.

[2019-03-01 08:56] gdestuynder commented on #2935
@rfk yes, that sounds exactly like the issue to me. @LeoMcA  does this match your flow?

[2019-03-04 03:16] rfk opened #2938 "Backport private fix from train-131 before cutton train-132"
Either the quick fix at:

  https://github.com/mozilla/fxa-auth-server-private/pull/89

Or the slightly larger refactor at:

  https://github.com/mozilla/fxa-auth-server-private/pull/90

[2019-03-04 06:47] farhan787 commented on #2927
@philbooth should I remove the scrypt-hash dependency ?

[2019-03-04 06:55] philbooth commented on #2927
Probably not yet @farhan787, the node 10 boxes are not running in prod yet and some people may still be running node 8 locally.

[2019-03-04 07:29] farhan787 commented on #2927
@philbooth then how would we know that all people have updated to node 10.

[2019-03-04 07:35] philbooth commented on #2927
Well we might not know for certain @farhan787, but we can at least wait for node 10 to be running in prod and give people a little bit more time to catch up I think.

[2019-03-04 07:37] farhan787 commented on #2927
@philbooth that sounds good!

[2019-03-04 08:00] farhan787 commented on #2783
@vladikoff I want to do this, but I am unable to figure out what is auth gen_keys.js. Could you please give me any suggestion for it.

[2019-03-04 09:28] shane-tomlinson opened #2939 "Re-enable verification reminder emails"
In #2060 we removed verification reminder emails because we were using DB calls that were unsafe for replication. Let's bring the feature back using replication safe DB calls. @jbuck suggests we might be able to do this by sending events to SQS and having individual instances consume the events so that only one entry is insert per reminder.

[2019-03-04 13:56] vladikoff commented on #2783
@farhan787

the `oauth-server` gen_keys file: https://github.com/mozilla/fxa-auth-server/blob/master/fxa-oauth-server/scripts/gen_keys.js

needs to be merged into the `auth-server` gen_keys file here: https://github.com/mozilla/fxa-auth-server/blob/master/scripts/gen_keys.js

[2019-03-04 15:37] shane-tomlinson opened #2940 "Log using a mozlog-compatible interface"
Similar to https://github.com/mozilla/fxa-customs-server/issues/322

This repo writes directly to stderr w/o using mozlog 2.0, which is different than other fxa servers. This can cause confusion with questions like "why does this server write an object with an op whereas other repos call the log method with the op as the first argument and then an object?" Or at least, that's what I asked. What's

[2019-03-04 17:26] shane-tomlinson commented on #2880
@vladikoff is this for train-133, and if so, how "big" is it?

[2019-03-04 17:58] farhan787 commented on #2783
@vladikoff thanks for it, I'm doing this.

[2019-03-04 20:00] farhan787 commented on #2783
@vladikoff I think, I've done something wrong with fxa-oauth-server/scripts/test-local.sh, can you just take a look at it. It will help me to fix the continuous-integration/travis-ci/pri failing test.

[2019-03-04 20:20] rfk commented on #2938
Let's take the quick fix for train-132, then I can re-open the larger refactor PR against the public repo.  Just waiting for it to go live in train-131.

[2019-03-05 00:31] vbudhram commented on #2490
Did a little audit and it looks like still have to do a couple more things for this to start working again. Specially

* Complete purging of expired tokens from the oauth tokens table
* Attempt another oauth-server db migration to report profileChangedAt in oauth responses (like the reverted mozilla/fxa-oauth-server#607)

I'm not sure the current state of expired tokens so that might not be applic

[2019-03-05 02:38] rfk commented on #2490
Thanks @vbudhram!

There's more context on why this was necessary in the issue here:

  https://github.com/mozilla/fxa-oauth-server/issues/620

Basically, the oauth `tokens `table was too big for us to run a migration on. I think we've done some purging and gotten it to a much better state now, @jrgm can you confirm?

If so, then I think we just have to apply the reverse of https://github.com/mozi

[2019-03-05 12:15] #2917 closed

[2019-03-05 14:17] farhan787 opened #2942 "Remove deprecated mozlog.config()"
DeprecationWarning: mozlog.config() is deprecated. Use mozlog(opts) to receive a specific mozlog instance.

While running npm test, it's giving the above warning. mozlog.config() is deprecated in new versions and it should be replaced according to the updated mozlog docs.

Files that contains deprecated mozlog.config() and should be changed:
1 . lib/log.js
2 . lib/senders/log.js
3 . test/local/log

[2019-03-05 14:22] farhan787 commented on #2942
I'm working on this.

[2019-03-05 17:10] vbudhram commented on #2938
I missed this on the train cut, creating a point release with the backport.

[2019-03-05 22:48] davismtl commented on #2939
@shane-tomlinson do you think this could be moved up by one train? 133 instead of 134? I guess it mostly depends on the size of this work which is unclear to me.

[2019-03-06 13:20] shane-tomlinson commented on #2939
I'm trying to get a sense of the size of this myself, one of the reasons we removed the reminders is because we were using SQL that was not safe for database replication. I'm trying to find out which calls those are and whether we have an easy path forward without leaning on another datastore.

@philbooth has expressed an interest in helping here and may have some more ideas on how to move forward

[2019-03-06 23:34] jbuck commented on #2939
If you want to keep the verification reminders in MySQL, write the code assuming that there's a single reader/writer and we could run it on the fxa-admin box

[2019-03-07 06:54] vladikoff commented on #2939
I forgot why we didn't redis this, but I suggest y'all redis this.

[2019-03-07 07:33] farhan787 commented on #2940
@shane-tomlinson may I fix this ?

[2019-03-07 07:38] misterhsp opened #2948 "dockerbuild error on node10"
make: Entering directory '/home/fxa/fxa-auth-server/node_modules/scrypt-hash/build'
  CC(target) Release/obj.target/scrypt/crypto_scrypt-sse.o
  CXX(target) Release/obj.target/scrypt/node_scrypt.o
In file included from ../node_modules/nan/nan.h:190:0,
                 from ../node_scrypt.cc:3:
../node_modules/nan/nan_maybe_43_inl.h: In function 'Nan::Maybe<bool> Nan::ForceSet(v8::Local<v8::Object>

[2019-03-07 14:06] hybrid1999 commented on #2936
Id like to take up this issue!

[2019-03-08 08:25] philbooth commented on #2939
Having spent a bit of time this morning familiarising myself with all the context here, I realise the linked issue in the opening comment doesn't contain all the context. So for reference purposes...

* Original db PR: https://github.com/mozilla/fxa-auth-db-mysql/pull/127
* Auth server PR: https://github.com/mozilla/fxa-auth-server/pull/1203
* Issue discussing the problem: https://github.com/mozil

[2019-03-08 08:39] philbooth commented on #2939
Fwiw, this is what I intend to do.

[2019-03-08 11:01] LeoMcA commented on #2935
Yep

I'm not sure if that's the case with me - I enabled 2FA almost as soon as the feature was released, IIRC, but I suppose a session could have persisted that long.

[2019-03-08 11:15] shane-tomlinson commented on #2939
👍 I hoped this.

[2019-03-08 11:20] shane-tomlinson commented on #2935
FxA sessions last and last and last...

[2019-03-08 13:26] philbooth commented on #2940
Correction to this bug, `lib/log.js` does use `mozlog` internally, just the interface it exposes is different. If we decide that is a problem for us, we can change the signature of its methods and all the method calls so that they take `op` as the first argument instead of a property.

[2019-03-08 13:38] shane-tomlinson commented on #2940
Using VSCode regexp replacement, I was able to do the replacements using regular expressions:

`log.([^)]+)\({\n?\s*op: '([^']+)',`
=> `log.$1('$2', {`

I suspect the tests are going to take some grunt work.

[2019-03-08 17:56] #2940 closed

[2019-03-08 19:47] philbooth commented on #2948
Same as mozilla/fxa-auth-db-mysql#487, I think you can ignore this. Is it causing anything to fail?

[2019-03-09 05:07] hritvi commented on #2936
May I work on this?

[2019-03-09 08:39] hybrid1999 commented on #2455
Is this still an open issue?

[2019-03-11 10:26] vladikoff commented on #2547
@rfk, from chatting with shane:

* With some updates to migration plans users will have 2 browsers installed, if we want to keep old fennec (side by side installation), we should reconsider keeping the device name, instead creating a new one from oauth client name  (talked about session/duplicate in this case) - *side-by-side migration*

* and then we have a "replace migration", we might need to s

[2019-03-11 11:42] philbooth commented on #2939
Vague implementation plan:

* Store reminders in a Redis [sorted set](https://redis.io/topics/data-types-intro#redis-sorted-sets), ordered by creation timestamp.

* Run a simple script on `fxa-admin` that fetches the next batch from the aforementioned sorted set, dispatching any reminder emails and deleting records as necessary. We can schedule this with cron so no need to including looping logic

[2019-03-11 14:32] shane-tomlinson commented on #2936
@hritvi it looks like @hyrbrid1999 has already taken up the bug!

[2019-03-11 15:11] shane-tomlinson commented on #2939
@philbooth to make explicit for the vague implementation plan: reminders are only sent if the account is still unverified.

[2019-03-11 15:31] shane-tomlinson commented on #2455
@vbudhram can you provide some guidance?

[2019-03-11 15:37] shane-tomlinson opened #2953 "Add semicolons"
The OAuth server uses them. The content server uses them. The profile server uses them. Let's use them here too.

[2019-03-11 15:57] hritvi commented on #2953
May I May I work on this @shane-tomlinson. And also can you give a brief insight into this. Thanks!!

[2019-03-11 16:02] vbudhram commented on #2455
@hybrid1999 @shane-tomlinson, took a look at this again and it really isn't an issue. Marking closed.

@hybrid1999 Feel free to check out some other issues!

[2019-03-11 16:02] #2455 closed

[2019-03-11 16:38] davismtl commented on #2939
Two questions that come to mind:
- how often would the cron run?
- how long do we want to wait before reminding someone?
- do we want to run them twice?

I will provide product recommendations for these. I will investigate first.

[2019-03-11 16:40] philbooth commented on #2939
Fwiw, defaults from config for the old implementation were 2 days before the first reminder and 7 days before the second reminder.

[2019-03-11 18:11] davismtl commented on #2939
Per conversations this morning:
- We will send first reminder after 24h, the second reminder will be after 5 days
- this should educate the frequency of running the cron job. (hourly?)

[2019-03-11 18:12] philbooth commented on #2939
From meeting: let's try 1 day and 5 days

[2019-03-11 22:15] vladikoff commented on #2547
* With some updates to migration plans users will have 2 browsers installed,
    * session duplicate OR super scope api?

[2019-03-11 22:29] vladikoff commented on #2547
* side-by-side migration: compares package name, if `fenix`, then create a device record
* replace migration migration: compares package name, if `fennec` then pop the new refreshTokenId onto existing name.

[2019-03-11 22:31] vladikoff commented on #2547
* do want to do side-by-side migration? gives us a way to test our migration, we don't lose a signed in user, we can do it for the UX. but not many people will get to it.

[2019-03-12 03:52] rfk opened #2954 "Add an /oauth/token route, authenticated with a sessionToken"
As part of our quest simplify our OAuth infastructure and remove BrowserID, let's move the [OAuth /token endpoint](https://github.com/mozilla/fxa-auth-server/blob/master/fxa-oauth-server/docs/api.md#post-v1token) over to the auth-server and allow it to be authenticated directly with a sessionToken.  This will let clients that already hold a sessionToken grant themselves OAuth tokens directly, rath

[2019-03-12 04:02] rfk opened #2955 "Create a placeholder device record when granting tokens with the "oldsync" scope"
I'm spinning this off from https://github.com/mozilla/fxa-auth-server/issues/2880 in order to break the work down into smaller chunks.

When a new client connects to sync, we need to send a push notification to existing clients telling them about the new peer.  This currently does not happen for clients that get sync access by requesting the "oldsync" OAuth scope.  From discussion in https://githu

[2019-03-12 04:08] rfk commented on #2880
From the above discussion, it sounds like we can split this into two separate implementation issues - one for sending the emails, and one for doing the device-registration bits.  I've created https://github.com/mozilla/fxa-auth-server/issues/2955 for the later and will morph the descirption of this bug to focus only on the former.

[2019-03-12 04:10] rfk commented on #2955
Tentatively targetting next train, but it depends on some of the existing oauth changes that @vladikoff and I are working this on the current train cycle.

[2019-03-12 04:20] rfk commented on #2954
To support the Fennec -> Fenix migration, if this route is used to grant the app a token with "oldsync" scope, then it should ensure the app has a device record in a similar way to https://github.com/mozilla/fxa-auth-server/issues/2955.  If the route is used to generate a refreshToken, that refreshToken should be added to the device record.

[2019-03-12 04:47] rfk opened #2956 "Add a route specifically for generating the "devices and apps" list on the settings page"
The "devices and apps" list on the settings page currently pulls in data from two different sources:

* The auth-server's `/sessions` endpoint, which includes all device records that have a `sessionToken`.
* The oauth-server's `/client-tokens` endpoint, which lists each connected OAuth client, but which doesn't distinguish between multiple instances of the same client (ref https://github.com/mozil

[2019-03-12 04:53] rfk commented on #2933
Vlad has deployed a WIP branch of this here: https://github.com/mozilla/fxa-auth-server/commits/feature.fenixmigrator

[2019-03-12 05:10] rfk commented on #2547
@vladikoff as you probably saw from your bugmail, I tried to make sure we had proper issues on file for the items in your checklist in https://github.com/mozilla/fxa-auth-server/issues/2547#issuecomment-468482625; the only one I didn't get to was "superscope code exchange" because I feel like we should probably have an IRL discussion with @shane-tomlinson  about where we want to go with that one..

[2019-03-12 05:11] rfk commented on #2956
(This route would have the added bonus of not needing to generate a BrowserID assertion to query the oauth-server for the `/client-tokens` list.)

[2019-03-12 13:52] shane-tomlinson opened #2957 "DAU/MAU is not counted correctly for OAuth relying parties"
We calculate DAU/MAU based on the number of [certificate signs that occur](https://github.com/mozilla/fxa-auth-server/blob/7fe15bfc5ef4d89d7a4976a74f33340d1cc9aa05/lib/routes/sign.js#L1).

Users of OAuth relying parties that make use of [long lived access tokens](https://bugzilla.mozilla.org/show_bug.cgi?id=1532438) or refresh tokens will only be counted towards MAU on the day the access was first

[2019-03-12 13:54] philbooth commented on #2957
It's cool, we can do all that propagation work on our end.

[2019-03-12 14:31] #2948 closed

[2019-03-12 14:53] shane-tomlinson opened #2958 "Remove support for node 8, support 10+"
We still support node 8 but our Docker images are now built using node 10. Let's drop support for node 8 and remove node-scrypt from the devDependencies list.

[2019-03-12 15:16] shane-tomlinson commented on #2956
I had always hoped we would have a route like this. There is not a 👍 big enough.

[2019-03-12 15:18] shane-tomlinson commented on #2955
For completeness, it seems like this also needs to happen for the implicit grant flow on /authorization endpoint.

[2019-03-12 15:32] shane-tomlinson opened #2959 "Define an OpenAPI spec for endpoints"
From the [OpenAPI Spec](https://swagger.io/specification/):

I can't take credit for this, this is all @bbangert. He just showed me the [docs generated for Push](https://mozilla.github.io/application-services/api/push_bridge.html#tag/Subscriptions) from their OpenAPI spec, and they are great!

There is a lot of tooling around OpenAPI to help with things like creating libraries in arbitrary languag

[2019-03-12 15:32] shane-tomlinson commented on #2959
Push's definition: https://slack-redir.net/link?url=https%3A%2F%2Fgithub.com%2Fmozilla%2Fapplication-services%2Fblob%2Fmaster%2Fwebsite%2Fstatic%2Fapi%2Fpush_bridge.yml

[2019-03-12 15:53] irrationalagent commented on #2957
I don't have much advice to give on this right now (sorry). All I will say is that we should absolutely do this because we are leaving a bunch of MAU on the table with respect to non-sync reliers. And this unusable pile of funny money will only continue to accrue as more non-sync reliers are added.

Also, if for whatever reason 24 hrs is too short, since its MAU that is currently more important th

[2019-03-12 16:41] vladikoff opened #2960 "Auth Server Remote tests are slow"
Auth Server Remote tests take a while on my machine, not sure how bad on the CI, but might be something to bring to attention

[2019-03-12 17:09] farhan787 commented on #2958
@shane-tomlinson if I'm not wrong node-scrypt is not there is devDependencies.

[2019-03-12 17:26] shane-tomlinson commented on #2958
You are right, I meant optionalDependencies.

[2019-03-12 17:29] farhan787 commented on #2958
@shane-tomlinson ok, but now node-scrypt is used nowhere in the project.

[2019-03-12 19:40] rfk commented on #2957
It's not obvious to me why this one is necessary, since DAU/MAU are aggregated by unique uid anyway I don't think it matters if we count *both* an `account.signed` and some oauth-token-related event for the same activity.

Another thing to watch out for would be OAuth RPs that are using the tokens for their own purpoes (such as checking if their cache of the user's profile data is up-to-date) that

[2019-03-12 19:43] rfk commented on #2957
Do we need to associate metrics context with these tokens on an ongoing basis, or is it a once-of thing for the purposes of tracking flow completion?

[2019-03-12 19:47] rfk commented on #2955
IMHO, we should stop doing implicit grants on the `/authorization` endpoint and start doing them on the `/token` endpoint, since our client apps only use this flow for granting tokens to *themselves*  (which is what the `/token` endpoint is conceptually about) rather than to other clients (which is what the `/authorization` endpoint is conceptually about).

Obviously there's b/w compat concerns th

[2019-03-12 21:00] davismtl commented on #2957
Is it possible to have short-lived and long-lived tokens to split up responsibilities? For example, authentication could be "short"-er at like X days. This would force them to check with us regularly. Whereas, getting profile information could be a long-lived token at ~90 days, where if the user hasn't used the OAuth RP for that amount of time, they can no longer refresh the user data. 🤷🏼‍♂️

I'm

[2019-03-12 21:00] philbooth commented on #2960
Fwiw I tend to see this as a feature. The remote tests are supposed to be slow because they're essentially integration tests, there to test the correctness of the system. It's the local/unit tests that need to be fast because their job isn't to prove correctness as much as it is to aid rapid development/refactoring.

But I realise my opinions are not always shared when it comes to the tests in FxA

[2019-03-13 09:39] shane-tomlinson commented on #2957
You are right, if we can merge the 3 distinct event types based on uid to count as a single DAU/MAU, then we won't need to.

[2019-03-13 10:42] shane-tomlinson commented on #2958
It is used [here](https://github.com/mozilla/fxa-auth-server/blob/9a8cb1744abb89c2035f2ff7bc0cfc8eb24ee05f/lib/crypto/scrypt.js#L19) and should be removed. It looks like we should also be able to remove [this `if` statement](https://github.com/mozilla/fxa-auth-server/blob/9a8cb1744abb89c2035f2ff7bc0cfc8eb24ee05f/lib/crypto/scrypt.js#L59:L64), deleting from `if`, up to and including the [first `els

[2019-03-13 10:57] shane-tomlinson opened #2962 "Do direct assertion->token exchange on the /token endpoint, not the /authorization endpoint"
From @rfk's comment in https://github.com/mozilla/fxa-auth-server/issues/2955#issuecomment-472154130 which I agree with:

---------------------

IMHO, we should stop doing implicit grants on the /authorization endpoint and start doing them on the /token endpoint, since our client apps only use this flow for granting tokens to themselves (which is what the /token endpoint is conceptually about) rat

[2019-03-13 10:58] shane-tomlinson commented on #2955
https://github.com/mozilla/fxa-auth-server/issues/2962

[2019-03-13 13:46] #2958 closed

[2019-03-13 13:49] farhan787 commented on #2958
@shane-tomlinson I thought it's literally node-scrypt, btw thanks for correcting me.

[2019-03-14 06:16] philbooth opened #2965 "GET /account/device/commands returns 500 error when sessionToken.deviceId is null"
This might be by design, I'm not sure, please close it if so.

As seen in Sentry:

https://sentry.prod.mozaws.net/operations/auth-prod/issues/5357870/?environment=prod

Note the value of `data` if you expand the error object:

[code]

The call stack starts in the route handler for `GET /account/device/commands`:

[code]

[2019-03-14 06:22] philbooth opened #2966 "Replace the `redis.watch.conflict` 500 errors with 409 Conflict"
It's annoying when these show up in Sentry because they're not actionable and already well-understood. When I wrote the code I thought `500` was the semantically appropriate status to return, but maybe `409 Conflict` would be fine too. Then we'd stop getting badgered in Sentry.

[2019-03-14 11:15] shane-tomlinson commented on #2966
👍 this seems reasonable.

[2019-03-14 11:44] shane-tomlinson commented on #2965
This seems odd to me, does it make sense to return an [unknownDevice](https://github.com/mozilla/fxa-auth-server/blob/9a8cb1744abb89c2035f2ff7bc0cfc8eb24ee05f/lib/error.js#L537) error if no device is associated with the sessionToken?

[2019-03-14 12:10] farhan787 commented on #2966
@philbooth may I fix this ?

[2019-03-14 12:22] philbooth commented on #2966
Sorry @farhan787, I already opened a PR.

[2019-03-14 12:23] #2966 closed

[2019-03-14 12:29] farhan787 commented on #2966
@philbooth no problem, just saw you amazing work there!

[2019-03-15 02:48] rfk commented on #2962
Taking this, as I've been working on a related cleanup for https://github.com/mozilla/fxa-auth-server/issues/2954 anyway

[2019-03-15 03:03] rfk commented on #2962
Also we should stop calling them "implicit grants" because "implicit grant" means a very specific thing in the OAuth world, and that thing is not the same as the thing we're doing.

[2019-03-15 17:32] #2960 closed

[2019-03-18 06:54] philbooth opened #2972 "Investigate scrypt malloc error"
With node 10, we migrated to node's built-in implementation of scrypt, which requires you to specify the upper limit for memory available to the scrypt operation. ~~We store ours in a `const` called `DEFAULT_MAXMEM` in `lib/crypto/scrypt.js`.~~

This error from Sentry seems to indicate that the limit we calculate for that is not sufficient on occasion:

https://sentry.prod.mozaws.net/operations/au

[2019-03-18 06:58] philbooth commented on #2972
Correction, we calculate ours according to the values for `N` and `r`, [here](https://github.com/mozilla/fxa-auth-server/blob/a482770a718025dad726f11b2053b969a284e114/lib/crypto/scrypt.js#L53-L58):

[code]

[2019-03-18 07:20] philbooth commented on #2972
Actually, the linked error seems to imply that `malloc` failed, not that we hit our own limit. So maybe the limit calculation here is okay and the instance ran out of physcial resources instead.

[2019-03-18 13:19] vladikoff opened #2973 "Move the "is the token expired?" logic closer to DB"
See https://github.com/mozilla/fxa-auth-server/pull/2937#discussion_r266278231

[2019-03-18 13:22] vladikoff opened #2974 "Re-use the OAuth client caching logic for refreshToken scheme"
See https://github.com/mozilla/fxa-auth-server/pull/2937#discussion_r266283514

[2019-03-18 17:11] #2915 closed

[2019-03-18 17:27] shane-tomlinson commented on #2974
@vladikoff can you pull this out of backlog if you are going to work on it in train-134?

[2019-03-18 17:27] shane-tomlinson commented on #2973
@vladikoff can you pull this out of backlog if you are going to work on it in train-134?

[2019-03-18 17:47] vladikoff opened #2975 "In tests, factor out mockOAuthServer into a helper"
See https://github.com/mozilla/fxa-auth-server/pull/2937/files#r266284958

I think we have it repeated 2-3 times. It can use a helper

[2019-03-18 19:34] shane-tomlinson commented on #2921
Fixed by #2968, closing.

[2019-03-18 19:34] #2921 closed

[2019-03-18 21:33] shane-tomlinson opened #2976 "Track list of services the user has signed in to"
Right now we only know which services the user has a current access or refresh token for, once those tokens expire and are purged, we lose that knowledge.

This means:
* We have no way of notifying the user which services may hold data about them.
* We have to notify *all* services when a user deletes their account (or makes other account information updates).

cc @bbangert

blocks #2899

[2019-03-18 21:33] shane-tomlinson commented on #2899
cc @bbangert

[2019-03-18 22:00] #2916 closed

[2019-03-18 22:53] vladikoff commented on #2955
from mtg:

createDevice with OAuth name if we can (might not be a true placeholders)

[2019-03-19 14:53] vladikoff opened #2978 "Use the value returned from .deviceDelete in devices-and-sessions"
See https://github.com/mozilla/fxa-auth-server/pull/2937#discussion_r266709730 for details

[2019-03-19 17:34] #2547 closed

[2019-03-19 21:22] jrgm commented on #2972
Closing. Root cause was likely a severe memory leak in systemd-journald now fixed by reverting to previous AMI images. - https://github.com/mozilla-services/cloudops-deployment/pull/3023

[2019-03-19 21:22] #2972 closed

[2019-03-20 06:35] shane-tomlinson commented on #2547
\o/ well done @vladikoff, @eoger, and @rfk. This is epic.

[2019-03-20 10:04] shane-tomlinson commented on #2953
I think it would be to update the [semi](https://eslint.org/docs/rules/semi) rule in .eslintrc to ["error", "always"], and then running [eslint with the `--fix` option](https://eslint.org/docs/user-guide/command-line-interface).

[2019-03-20 10:04] shane-tomlinson commented on #2953
@hritvi - and yeah, you sure may work on this!

[2019-03-20 10:04] shane-tomlinson commented on #2953
Assigning myself to indicate that it's taken.

[2019-03-20 11:08] shane-tomlinson commented on #2935
Paraphrasing an email with @LeoMcA: The the session on the device on which the problem manifests was created 2 months before setting up 2FA.

The message displayed is indicative of a call to the `/authorization` endpoint on the OAuth server failing because the [session is not 2FA verified](https://github.com/mozilla/fxa-auth-server/blob/40b65eeb05a11437ae32cbf4b2ed06e30d71f261/fxa-oauth-server/lib

[2019-03-20 11:22] shane-tomlinson opened #2981 "Feat: Sign up verification codes instead of verification links"
The current signup verification flow requires a user to exit the FxA flow and open a verification link from their email.

This causes several problems:

* Users often open verification links in a different tab/browser, causing an explosion of paths we have to worry about. @ryanfeeley and I had a spreadsheet tracking the combinatoric explosion. It's awful.
* Users sometimes never get back to the ap

[2019-03-20 11:23] shane-tomlinson commented on #2981
cc @bbangert and @johngruen for the work you are doing too. I think this could simplify those flows for users who do not already have an account.

[2019-03-20 14:54] irrationalagent commented on #2981
Here's the conversion % after the email is sent, [Lockbox codes vs. Links](https://analytics.amplitude.com/mozilla-corp/chart/dib5asr). They appear to be pretty comparable, though I would caution that Lockbox users are probably more competent than the average FxA user (not that I'm biased). @shane-tomlinson

[2019-03-20 15:23] ryanfeeley commented on #2981
It's worth noting that Google now uses codes to verify new accounts. It's
become frowned upon to encourage users to click on links delivered by
email. Codes are safer from this POV.

On Wed, Mar 20, 2019 at 10:54 AM Leif Oines <notifications@github.com>
wrote:

--
Ryan Feeley // Toronto
Staff Designer // FxA & Sync
IRC & Slack: rfeeley

[2019-03-20 21:24] rfk commented on #2981
I'll also add that this becomes more important as we bring on more non-brower services, because we expect more users to be signing up through a web-based OAuth flow, and need to do everything we can to keep them from diverging off out of that funnel.

We'll also need to consider the password-reset flow in this case.

If there's general interest in moving away from links and towards codes for all o

[2019-03-21 08:19] philbooth commented on #2939
While working on this, I noticed that `POST /recovery_email/verify_code` accepts some of its parameters both in the query string and in the body. That's silly and annoys me, because the only client is the content server, which we're in control of and can force to always use either one or the other.

Looking at the code, the key point is the `verifyCode` method in `fxa-js-client`. You can see that

[2019-03-21 12:53] shane-tomlinson commented on #2939
I'm not sure *why* they were added as query parameters, perhaps @vladikoff or @dannycoates remember. This seems like a reasonable change to make as a standalone PR.

[2019-03-21 14:07] vladikoff commented on #2939
I think we wanted to POLL that endpoint, so a GET query param was a way to go

[2019-03-21 14:14] philbooth commented on #2939
Polling is for `/recovery_email/status` though right? I'm specifically talking just about `POST /recovery_email/verify_code` here, which would only need to be sent once, when the user clicks the link in the email.

[2019-03-21 14:16] philbooth commented on #2939
(the link itself is a `GET` request of course, but that's handled by `CompleteSignUpView` in the content server, which just redirects it to this `POST` in the auth server)

[2019-03-21 14:17] jbuck commented on #2939
We can use big query to ensure nobody is somehow accidentally using the
queue parameters

On Thu, Mar 21, 2019 at 10:14 AM Phil Booth <notifications@github.com>
wrote:

[2019-03-21 14:17] vladikoff commented on #2939
@philbooth ah `POST /recovery_email/verify_code`, I cannot remember why at this time, hmm..

[2019-03-21 14:24] shane-tomlinson commented on #2939
[code]
...

[2019-03-23 21:59] vladikoff commented on #2936
This was fixed in https://github.com/mozilla/fxa-auth-server/pull/2937

[2019-03-23 21:59] #2936 closed

[2019-03-26 06:15] #2953 closed

[2019-03-26 12:45] philbooth commented on #2939
WIP PR is at #2990.

[2019-03-26 14:25] vbudhram commented on #2922
Putting my face on this because it relates to https://github.com/mozilla/fxa-content-server/issues/6767 and doing the proposed above might resolve these issues. Will put up a WIP PR for consideration.

[2019-03-26 20:06] davismtl opened #2991 "Add Gmail Actions to Confirmation Emails"
Let's increase our email confirmation clickrates and login confirmation clickrates by using email actions.

https://developers.google.com/gmail/markup/actions/actions-overview

[2019-03-26 20:07] davismtl commented on #2991
We may already have these on some of our emails but let's audit them and make sure they are everywhere.

[2019-03-26 21:35] vladikoff opened #2992 "Should defineLazyGetter(request.app, 'devices' throw on no UID?"
See code at https://github.com/mozilla/fxa-auth-server/blob/67a95e2aa7db9b6b0a0345c911c9b6733019cd4a/lib/server.js#L216-L225

[2019-03-26 21:44] philbooth commented on #2992
Hmm, good question. I think until now we've only ever used it in situations where we're guaranteed to have a `uid` availble. If that is the case, it should be fine to e.g. wrap the call to `db.devices` inside an `if (uid)` test and resolve to an empty array in the `else` case.

[2019-03-26 21:51] davismtl opened #2993 "Clarify signin confirmation emails"
When a user signs in to Sync, we say "to continue to Sync" above the authentication form.

The login confirmation email says to confirm a sign in to Firefox but doesn't mention Sync.

This could be a bit confusing, even though the metrics look pretty good.

Note: I received this feedback from Mary Ellen Muckerman

[2019-03-26 21:52] davismtl commented on #2993
Screenshot for example:
![image](https://user-images.githubusercontent.com/19537086/55036059-bf255000-4fd6-11e9-8447-669e8d34d018.png)

[2019-03-26 21:55] davismtl commented on #2993
@ryanfeeley is sign-in suppose to have a hyphen? I always get confused with this one. I know a recent use of log-in annoyed you so I want to double check.

[2019-03-27 01:23] rfk opened #2994 "Accept OAuth client credentials as Basic Auth header in /oauth/token"
Followon from https://github.com/mozilla/fxa-auth-server/pull/2983

The OAuth "token endpoint" needs to be able to accept the OAuth client id and secret as either as  request body parameter, or as a HTTP basic auth header.  We have at least one integration in the wild that currently does it that way so we'll have to add support for that before they can start using the auth-server version of this r

[2019-03-27 06:15] shane-tomlinson opened #2995 "Check to ensure relying parties only request OAuth scopes they are allowed to"
Follow on from [discussion in #2969](https://github.com/mozilla/fxa-auth-server/pull/2969/files#r269182194). Untrusted relying parties are only allowed to request scopes from a [fixed set of possibilities](https://github.com/mozilla/fxa-auth-server/blob/40b65eeb05a11437ae32cbf4b2ed06e30d71f261/fxa-oauth-server/lib/routes/authorization.js#L278). Trusted RPs may request any scope, whether known or n

[2019-03-27 09:00] #2962 closed

[2019-03-27 11:47] shane-tomlinson opened #2996 "service names not translated when sent to amplitude for several services"
I know this is a bug for cloudops-deployment, but wanted to capture this in a public place since the events are amplitude emit from here.

Running this query in BigQuery:

[code]

Results in:

[code]

`20f7931c9054d833` is `Firefox Send for Android`
`3c49430b43dfba77` is `Android Components Reference Browser`
`9dbca21ec249771d` is `Firefox Add-ons Frontend (stage)`
`a2270f727f45f648` is `Fenix`
`e

[2019-03-27 11:54] shane-tomlinson commented on #2957
`service` is already being emit with the `fxa_activity - cert_signed` event, see:

<img width="961" alt="Screenshot 2019-03-27 at 11 27 53" src="https://user-images.githubusercontent.com/848085/55072579-665fc100-5083-11e9-8469-99be4a5b8b7f.png">

[2019-03-27 13:20] shane-tomlinson commented on #2957
@irrationalagent - to log the new events to amplitude, I'll need to know the new event names and event properties. Do you want a [new group added to fxa-shared](https://github.com/mozilla/fxa-shared/blob/858be5242b86f3fcd15d6277f77f1019db5a0410/metrics/amplitude.js#L17), or like the last events, [use fxa_notify](https://github.com/mozilla/fxa-shared/blob/858be5242b86f3fcd15d6277f77f1019db5a0410/me

[2019-03-27 15:03] #2933 closed

[2019-03-27 17:58] davismtl opened #2997 "QA Login Flow on Android"
45% of Android users don't successfully submit their login form.

In other words, they submit the form but we don't track a login success.

This is MUCH higher across other OSs.

If we can figure out what is causing the problem, we can have a substantial boost to our overall login success rate.

Note: If we cannot find the problem through QA, we may need to do UR. I'd like us to start here though.

[2019-03-27 18:00] davismtl commented on #2997
CC @irrationalagent who crunched the numbers
CC @ryanfeeley in case he has an idea of what might be causing this.

[2019-03-27 18:06] #2996 closed

[2019-03-27 18:27] davismtl commented on #2997
I've been repeating the flow over and over again. There's one thing that I've noticed but probably isn't the sole cause. On Android keyboards, there's a blue arrow to jump to the next field; it replaces the enter key.

However, it seems to submit the form too (like an Enter key) because when it is pressed, the password field becomes red and has the message "Valid password required". This would cer

[2019-03-27 21:53] #2954 closed

[2019-03-28 04:15] Mozilla-GitHub-Standards opened #2998 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-28 09:32] philbooth commented on #2998
@mozilla/fxa-devs, should we hold off doing this until we've done the monorepo switch, to save the effort of doing the same thing lots of times for no reason?

[2019-03-28 15:06] irrationalagent commented on #2957
I think that fxa_activity makes the most sense, given that they are going to be serving a similar purpose analysis-wise to cert_signed.

`fxa_activity - access_token_created`, `fxa_activity - access_token_checked` are fine by me.

[2019-03-28 15:58] bbangert commented on #2976
Do we want to add a new OpenID Connect field for subscription_status? That way we identify sites that need the subscription status event for event distribution. Adding that field is likely a separate ticket.

[2019-03-28 20:43] davismtl commented on #2957
Is there a message we should prepare for the RPs to communicate our recommendations? Is there a best practice we should be adding to our docs?

[2019-03-28 21:06] shane-tomlinson commented on #2957
I thought we actually *recommended* RPs do this on occasion (at least that's what the RP checklist suggests)? Is there another way for an RP that's not hooked up receive `profileDataChanged` notifications to ensure their data is up to date?

[2019-03-29 05:51] #2939 closed

[2019-03-29 17:04] LaurenNiolet commented on #2915
It's alive!! Services are coming through and at a reasonable mix (most sync, the rest are scattered among the other services.

[2019-03-30 14:44] philbooth opened #3002 "Store service, redirectTo with verification reminders"
Verification reminders are not service-aware, so the email contains generic content and the user is taken to the FxA settings view after verifying. It might be nice if we could tailor the experience to particular services.

[2019-03-30 19:26] vladikoff opened #3003 "New Devices: isCurrentDevice is false for every device I get back, including my current one"
From https://github.com/mozilla/application-services/pull/676#issuecomment-478193600

[2019-03-30 19:27] vladikoff opened #3004 "New Devices: deviceType is DESKTOP for OAuth clients"
From https://github.com/mozilla/application-services/pull/676#issuecomment-478193600

perhaps allow passing a device type to ensureRegistered method? we'll just need to set it once when the record is created, and will never need to change it

@rfk thoughts on this?

[2019-04-01 00:04] #3003 closed

[2019-04-01 00:05] rfk commented on #3004
I think it's reasonable for the fxa-client component to allow setting the device type as part of its API. It also seems worthwhile for us to try to default to a sensible value on the server, based on what we know about the OAuth client.  For now we could just default all OAuth clients to mobile, later on we could do it based on the client_id.

[2019-04-01 00:58] rfk opened #3006 "Move caching logic into oauthdb.getClientInfo"
In `lib/senders/oauth_client_info.js` we currently have some caching logic wrapped around a call to `oauthdb.getClientInfo`, to avoid hitting the oauth-server db every time we want to look up basic oauth client metadata.

As seen in https://github.com/mozilla/fxa-auth-server/pull/2985, we're growing additional calls to `oauthdb.getClientInfo` that would also benefit from this caching, but don't ge

[2019-04-01 09:09] shane-tomlinson commented on #3002
Could also pass the [resume query parameter](https://github.com/mozilla/fxa-auth-server/blob/158e1add5e9827ffd4eb469494b3a0467d0c8c22/lib/senders/email.js#L553) which [progagates a lot of metrics when the verification page loads](https://github.com/shane-tomlinson/fxa-content-server/blob/6c5ca6d3555c21b556b3b372bfd820017bc6c608/app/scripts/models/resume-token.js#L17).

[2019-04-01 13:41] #2880 closed

[2019-04-01 13:41] #2955 closed

[2019-04-01 17:21] shane-tomlinson commented on #3004
@vladikoff can you re-triage this out of backlog as you see fit?

[2019-04-01 17:41] shane-tomlinson commented on #2978
@vladikoff can you re-triage this from Backlog as you see fit?

[2019-04-01 19:32] davismtl commented on #2993
@ryanfeeley other than that, can you see how we can make this copy more obvious. Do we have a version for each relier? If there was a new sign-in to Sync, should we just say Sync instead of Firefox?

This seems a bit confusing.

[2019-04-01 19:35] ryanfeeley commented on #2993
@davismtl Have you checked the latest email doc? See the second email. I think it's a better general purpose email as it mentions the service specifically. https://docs.google.com/document/d/1I7TSNa7mvUFipX48OhGSRbuVybIqSb5QdnCmivSjl-c/edit#heading=h.bixwa795e5ma